﻿<!DOCTYPE html>

<html ng-app="imageListApp">

<head>
    <!-- Avoid favicon.ico not found error -->
    <link rel="icon" href="data:,"> 

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/site.css" />
    <title>Simple Image List</title>
</head>
<body>
    <!-- <input ng-model="name" /> {{name}} -->
    
   <!--
    <form method="post" action="/api/images/upload" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
   -->


    <div ng-controller="imageListController">
        <div ng-cloak>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1>{{listTitle}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-6" style="height: 500px; padding-left:0">
                    <div uib-carousel active="active">
                        <div uib-slide ng-repeat="image in images" index="image.index" active="image.active">
                            <img ng-src="{{image.path}}" style="margin:auto;height:500px">
                            <div class="carousel-caption">
                                <p>{{image.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="list-group col-md-offset-3 col-md-6">
                    <a ng-class="{active:image.index == selectImageIndex}" href="#" ng-click="listSelectImage(image.index)" ng-repeat="image in images" class="list-group-item">{{image.title}}</a>
                </div>
            </div>

            <h4>Upload on file select</h4>
            <form name="myForm">
                <input type="text" name="title" ng-model="picTitle" size="50" required>
                <i ng-show="myForm.title.$error.required">*required</i>
                <input type="file" ngf-select ng-model="picFile"
                       accept="image/*" ngf-max-height="5000" ngf-max-size="4MB" />

                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                <br /><br />
                <button ng-click="uploadFiles(picFile)" ng-disabled="!myForm.$valid">Submit</button>
                File:
                <div style="font:smaller">
                    {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"
                             ng-bind="f.progress + '%'"></div>
                    </span>
                </div>
                {{errorMsg}}
            </form>
        </div>
  </div>
</body>
</html>

<!-- JQuery, Angular -->
<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="lib/angular/angular.js"></script>

<!-- Angular resource -->
<script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>

<!-- Angular UI Bootstrap-->
<script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="lib/angular-touch/angular-touch.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- ng-file-upload -->
<script type="text/javascript" src="lib/ng-file-upload/ng-file-upload.js"></script>
<script type="text/javascript" src="lib/ng-file-upload/ng-file-upload-shim.js"></script>

<!-- Custom angular app-->
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/services/imagesData.js"></script>
<script type="text/javascript" src="js/controllers/imageListController.js"></script>




