﻿img {
    image-orientation: from-image;
}

.thumb {
    width: 48px;
    height: 48px;
    float: none;
    top:7px;
    position:relative;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
